@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --cr: #8B0020;
  --cr-dark: #6B0018;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { font-family: 'Cairo', sans-serif; direction: rtl; overflow-x: hidden; }
body.en { font-family: 'Inter', sans-serif; direction: ltr; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: var(--cr); border-radius: 3px; }
